In [196]:
%pylab inline

import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

pm_data = pd.read_csv('Guangzhou_2012.csv', skiprows = 3)

Populating the interactive namespace from numpy and matplotlib

In [197]:
pm_data.head()

,Site,Parameter,Date (LST),Year,Month,Day,Hour,Value,Unit,Duration,QC Name
0,Guangzhou,PM2.5,2012-01-01 00:00,2012,1,1,0,84,�g/m�,1 Hr,Valid
1,Guangzhou,PM2.5,2012-01-01 01:00,2012,1,1,1,81,�g/m�,1 Hr,Valid
2,Guangzhou,PM2.5,2012-01-01 02:00,2012,1,1,2,72,�g/m�,1 Hr,Valid
3,Guangzhou,PM2.5,2012-01-01 03:00,2012,1,1,3,80,�g/m�,1 Hr,Valid
4,Guangzhou,PM2.5,2012-01-01 04:00,2012,1,1,4,69,�g/m�,1 Hr,Valid

In [198]:
len(pm_data)

8784

In [199]:
pm_data.tail()

,Site,Parameter,Date (LST),Year,Month,Day,Hour,Value,Unit,Duration,QC Name
8779,Guangzhou,PM2.5,2012-12-31 19:00,2012,12,31,19,66,�g/m�,1 Hr,Valid
8780,Guangzhou,PM2.5,2012-12-31 20:00,2012,12,31,20,91,�g/m�,1 Hr,Valid
8781,Guangzhou,PM2.5,2012-12-31 21:00,2012,12,31,21,93,�g/m�,1 Hr,Valid
8782,Guangzhou,PM2.5,2012-12-31 22:00,2012,12,31,22,109,�g/m�,1 Hr,Valid
8783,Guangzhou,PM2.5,2012-12-31 23:00,2012,12,31,23,98,�g/m�,1 Hr,Valid

In [200]:
pm_data = pm_data[(pm_data['QC Name'] == 'Valid')]
pm_month_day = pm_data.groupby(['Month', 'Day']).mean()

In [201]:
pm_month_day.head()

             Year  Hour      Value
Month Day
1     1    2012.0  11.5  77.375000
      2    2012.0  11.5  98.708333
      3    2012.0  11.5  89.916667
      4    2012.0   4.5  18.900000
3     15   2012.0  19.0   1.555556

In [53]:
type(pm_month_day)

pandas.core.frame.DataFrame

In [179]:
print pm_month_day['Value'].max()
print pm_month_day['Value'].min()

114.75
9.375

In [189]:
bins = [0, 50, 100, 150, 200, 300, 500]
group_names = ['Good', 'Moderate', 'Unhealthy for Sensitive Groups', 'Unhealthy', 'Very Unhealthy', 'Hazardous']

categories = pd.cut(pm_month_day['Value'], bins, labels=group_names)
pm_month_day['categories'] = pd.cut(pm_month_day['Value'], bins, labels=group_names)

In [190]:
pm_month_day.head()

             Year       Hour      Value categories
Month Day
1     1    2013.0  11.500000  57.083333   Moderate
      2    2013.0  11.500000  70.083333   Moderate
      3    2013.0  11.500000  57.541667   Moderate
      4    2013.0  11.500000  34.416667       Good
      5    2013.0  11.173913  29.391304       Good

In [191]:
month_count = pd.value_counts(pm_month_day.loc[1]['categories'], sort = False)
df = month_count.to_frame()
df = df.rename(columns = {'categories':'Days'})

In [192]:
df

                                Days
Good                               3
Moderate                          19
Unhealthy for Sensitive Groups     8
Unhealthy                          1
Very Unhealthy                     0
Hazardous                          0

In [193]:
df['Month'] = '1'
df

                                Days Month
Good                               3     1
Moderate                          19     1
Unhealthy for Sensitive Groups     8     1
Unhealthy                          1     1
Very Unhealthy                     0     1
Hazardous                          0     1

In [194]:
for i in range(2, 13):
    month_count = pd.value_counts(pm_month_day.loc[i]['categories'], sort = False)
    temp = month_count.to_frame()
    temp = temp.rename(columns = {'categories':'Days'})
    temp['Month'] = str(i)
    df = df.append(temp)

In [195]:
df['Year'] = str(2013)
df.head()

                                Days Month  Year
Good                               3     1  2013
Moderate                          19     1  2013
Unhealthy for Sensitive Groups     8     1  2013
Unhealthy                          1     1  2013
Very Unhealthy                     0     1  2013

In [140]:
df.to_csv('out.csv')

In [143]:
pm_month = pm_data.groupby(['Month']).mean()
pm_month

         Year        Day       Hour       Value
Month
1      2016.0  15.995962  11.502019   72.146703
2      2016.0  14.991329  11.528902   43.959538
3      2016.0  15.993271  11.503365   93.125168
4      2016.0  15.500000  11.500000   66.500000
5      2016.0  15.974359  11.499325   55.245614
6      2016.0  15.452514  11.498603   58.668994
7      2016.0  15.991914  11.502695   59.161725
8      2016.0  15.986523  11.493261   38.673854
9      2016.0  15.500000  11.500000   51.595833
10     2016.0  15.987788  11.489824   82.092266
11     2016.0  15.495119  11.504881  104.739191
12     2016.0  15.998652  11.486523  144.628032

In [146]:
pm_year_2016 = pm_data.mean()
pm_year_2016

Year     2016.000000
Month       6.511479
Day        15.745860
Hour       11.500628
Value      72.723929
dtype: float64

In [154]:
pm_data_2015 = pd.read_csv('Beijing_2015.csv', skiprows = 3)
pm_data_2015 = pm_data_2015[(pm_data_2015['QC Name'] == 'Valid')]
pm_year_2015 = pm_data_2015.mean()
pm_year_2015

Year     2015.000000
Month       6.541806
Day        15.671203
Hour       11.492907
Value      82.648253
dtype: float64

In [155]:
# Compute yearly average
yearly_average = list()

for i in range(2011, 2017):
    data = pd.read_csv(('Beijing_' + str(i) + '.csv'), skiprows = 3)
    data = data[(data['QC Name'] == 'Valid')]
    data = data.mean()
    yearly_average.append(data['Value'])

yearly_average

[99.093240383418404,
 90.51693791440627,
 101.71110855035722,
 97.734095370049644,
 82.648252796678577,
 72.723929183323818]

In [157]:
# Compute yearly average
yearly_average = list()

for i in range(2011, 2017):
    data = pd.read_csv(('Shanghai_' + str(i) + '.csv'), skiprows = 3)
    data = data[(data['QC Name'] == 'Valid')]
    data = data.mean()
    yearly_average.append(data['Value'])

yearly_average

[54.410256410256409,
 17.787789042032124,
 57.275557620817843,
 49.635208501790459,
 50.726774001192609,
 45.384039316639367]

In [160]:
# Compute yearly average
yearly_average = list()

for i in range(2011, 2017):
    data = pd.read_csv(('Guangzhou_' + str(i) + '.csv'), skiprows = 3)
    data = data[(data['QC Name'] == 'Valid')]
    data = data.mean()
    yearly_average.append(data['Value'])

yearly_average

[73.110367892976583,
 56.808671922377201,
 55.344737155799258,
 49.680468268638322,
 39.456547064305688,
 32.611704711024771]